.contact-box-container{
    width: 100%;
}

.contact-form{
    display: inline-flex;
    width: 75%;
}

.email-header{
    width: 100%;
    margin: 1%;
}

.office-map{
    display: inline;
}

.email-header > div{
    display: contents;
    padding: 1%;
    width: 49%;
}

textarea{
    width: 98%;
}

.email-contant{
    margin: 1%;
    width: 100%;
}